<div class="text-center mb-3">
    <a class="tablink" [class.tablink-active]="current=='Fitness'" (click)="choose('Fitness')">Fitness</a>
    <a class="tablink" [class.tablink-active]="current=='Wellness'" (click)="choose('Wellness')">Wellness</a>
    <a class="tablink" [class.tablink-active]="current=='Spa'" (click)="choose('Spa')">Spa</a>
</div>

<app-tab-item *ngFor="let s of services; let i=index" title="{{s.name}}" image="{{s.image}}" [dark]="i%2==0" text="{{s.description}}"></app-tab-item>

