.products{
    background-color: #B89E6F;
    color: #FFFCF0;
    padding: 5rem;
}

.productstitle{
    font-family: 'Lovelace';
    font-size: 40px;
}

.productstext{
    font-size: 15px;
    text-align: justify;
}

.products-image{
    margin-top: 5.5rem;
}