<div id="products" class="products d-flex">

    <div class="products-image">
        <img src="assets/products.jpg" width="500">
    </div>
    <div class="ps-5">
        <h1 class="text-center products-title">Products</h1>
        <p class="mt-5 products-text">Discover the secret to flawless skincare with our new range of beauty
            products! Immerse yourself in the world of luxurious skincare experiences, where each product is carefully
            crafted to enhance the natural beauty of your skin.
            <br><br>
            Our line is more than just cosmetics – it's a ritual that will transform your daily skincare routine. From
            intensely moisturizing creams to nourishing serums, each product features meticulously selected ingredients
            that love your skin as much as you do.
            <br><br>
            Feel confident and radiant by embracing the benefits of our series, designed with you in mind. Don't wait
            any longer – elevate your skincare routine to a new standard and unveil how our cosmetics can make your skin
            glow with health and radiance. Embark on this exceptional skincare journey today!
        </p>
        <div class="text-center mt-4">
            <app-transparent-button text="View more" (click)="navigate()"></app-transparent-button>
        </div>
    </div>
</div>