.item-dark {
    padding: 5rem;
    background-color: #B89E6F;
}

.item-light {
    padding: 5rem;
    color: #695125;
    background-color: #EFE3B8;
}

.title {
    font-family: 'Lovelace';
    font-size: 40px;
    text-align: center;
}

.text-content {
    margin-top: 3rem;
    text-align: justify;
}

.description {
    margin-right: 5rem;
    margin-left: 5rem;
}