<div [class.item-dark]="dark" [class.item-light]="!dark" class="d-flex justify-content-between">
    <div class="w-100 description">
        <h1 class="title">{{title}}</h1>
        <p class="text-content">{{text}}</p>

        <div class="d-flex" style="justify-content: flex-start;">
            <div>
                Amount:
                <input [(ngModel)]="quantity" />
            </div>
            <div class="ms-2">
                <app-button text="Add to cart" (click)="addToCart()"></app-button>
            </div>
        </div>

    </div>
    <div>
        <img src="{{image}}" alt="" width="{{width}}">
    </div>
</div>