.containera{
    background: url("../../../assets/day-spa.jpg");
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    color:#EFE3B8;
}

.nbar {
    padding: 1rem;
}

.content {
    justify-content: center;
}

.reservation-info {
    background-color: #B89E6F;
    padding: 1rem 2rem;
    color: white;
}