<div id="reviews" class="reviews">
    <h1 class="reviews-title">Reviews</h1>
    <div class="d-flex justify-content-between pt-5">
        <app-review-item name="Anna" text="SPA makes it so easy for me to make wellness a habit. I highly recommend the annual package."></app-review-item>
        <app-review-item name="Julia" text="I've been to many other massage parlors before, but SPA stands out for its excellent, well-trained staff."></app-review-item>
        <app-review-item name="Kamil" text="I never used to think about self-care until I met my wellness adviser at SPA. I now have more energy than ever!"></app-review-item>
    </div>
</div>