.about {
    background-color: #B89E6F;
    padding: 5rem;
    color: #FFFCF0;
}

.about-us-title {
    font-family: 'Lovelace';
    font-size: 40px;
}

.about-text {
    font-size: 20px;
    text-align: justify;
}