<div id="about" class="about d-flex">
    <div class="me-5 pe-5">
        <h1 class="mt-5 text-center about-us-title">About us</h1>
        <p class="mt-5 about-text">At SPA, we believe that physical and mental well-being go hand in hand. We don't just offer a brief escape
            from
            the daily grind; we offer a lifestyle change. When you regularly make time for yourself, your bliss can
            bless every part of
            your life with more energy and peace.
            <br><br><br>
            Sign up now for our wide variety of fitness programs and wellness therapies!
        </p>
    </div>
    <div>
        <img src="assets/about-img.avif" width="500">
    </div>
</div>