<div class="containera">
    <div class="nbar">
        <app-navbar-employee></app-navbar-employee>
    </div>
    <div class="d-flex content">
        <div class="home-content">
            <ng-container *ngIf="visits.length > 0">
                <div *ngFor="let item of visits">
                    <div>Service name: {{item.serviceName}}</div>
                    <div>Date: {{item.date | date:'yyyy-MM-dd hh:mm'}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="visits.length == 0">
                <h2>You don't have any visit</h2>
            </ng-container>
        </div>
    </div>
</div>