<div id="services" class="services">
<h1 class="text-center">Services</h1>
<div class="mt-5 pt-3 d-flex justify-content-between">
    <app-service-item title="Fitness" link="/service/0" text="From weightlifting and circuit training to yoga" image="assets/fitness.jpg"></app-service-item>
    <app-service-item title="Wellness" link="/service/1" text="Meditation classes that help promote inner balance" image="assets/wellness.webp"></app-service-item>
    <app-service-item title="Spa" link="/service/2" text="Skincare packages, massages, and herb baths" image="assets/spa.jpeg"></app-service-item>
</div>
</div>