<div id="contact" class="contact d-flex">
    <div>
        <img src="assets/contact.jpg" alt="" width="500" class="mt-5 ms-5">
    </div>
    <div class="ms-5 w-100">
        <h1 class="contact-title">Contact</h1>
        <div class="d-flex justify-content-center contact-item-container mt-5">
            <div class="contact-item d-flex">
                <div class="m-auto">
                    <i class="fa fa-map-marker contact-icon" aria-hidden="true"></i>
                </div>
                <div class="ms-3">
                    <div class="contact-type">SPA</div>
                    <div class="contact-data">123 Anywhere St., Any City, State,<br> Country 12345</div>
                </div>
            </div>
            <div class="contact-item d-flex mt-3">
                <div class="m-auto">
                    <i class="fa fa-envelope contact-icon" aria-hidden="true"></i>
                </div>
                <div class="ms-3">
                    <div class="contact-type">Email Address</div>
                    <div class="contact-data">hello@reallygreatsite.com</div>
                </div>
            </div>
            <div class="contact-item d-flex mt-3">
                <div class="m-auto">
                    <i class="fa fa-phone contact-icon" aria-hidden="true"></i>
                </div>
                <div class="ms-3">
                    <div class="contact-type">Phone Number</div>
                    <div class="contact-data">(123) 456 7890</div>
                </div>
            </div>
        </div>
    </div>
</div>