.video-wrapper{
position: absolute;
top:0;
z-index: -1;
}

.video{
    width: 100%;
}

.fitness{
    color:#EFE3B8;
}

.navbara{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    background-color: rgba(0,0,0,0.15);
}

.content{
    margin-top: 795px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #EFE3B8;
}