.review-item {
    background-color: #FFFCF0;
    color: #695125;
    padding: 1rem;
    margin: 1rem;
    height: 100%;
}

.review-item-name {
    font-family: 'Lovelace';
    font-size: 20px;
    font-weight: bold;
}

.review-item-text {
    font-size: 15px;
}