<div class="content d-flex">
    <div class="card-window">
        <div class="d-flex">
            <div class="card-tab" (click)="change(0)" [class.card-tab-active]="option==0">Sign In</div>

            <div class="card-tab" (click)="change(1)" [class.card-tab-active]="option==1">Sign Up</div>
        </div>

        <div class="card-tab-content">
            <div *ngIf="option==0" [formGroup]="signInForm">
                <h4 class="text-center">Sign In</h4>
                <br>
                <input formControlName="login" type="text" class="form-control" placeholder="Login">
                <br>
                <input formControlName="password" type="password" class="form-control" placeholder="Password">

                <div class="text-center">
                    <button class="button" (click)="signIn()">Sign In</button>
                </div>
            </div>

            <div *ngIf="option==1" [formGroup]="signUpFrom">
                <h4 class="text-center">Sign Up</h4>
                <br>
                <input formControlName="firstname" type="text" class="form-control" placeholder="First name">
                <br>
                <input formControlName="lastname" type="text" class="form-control" placeholder="Last name">
                <br>
                <input formControlName="email" type="email" class="form-control" placeholder="E-mail">
                <br>
                <input formControlName="login" type="text" class="form-control" placeholder="Login">
                <br>
                <input formControlName="password" type="password" class="form-control" placeholder="Password">

                <div class="text-center">
                    <button class="button">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>